fastapi[all]         
uvicorn[standard]    
langchain                
sqlalchemy           
transformers        
torch                
python-dotenv
sentence-transformers
pdfplumber
langchain-huggingface
chromadb